<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>list</title>
</head>
<body>
<h2>list.html</h2>
<table>
  <tr>
    <th>id</th>
    <th>memberEmail</th>
    <th>memberPassword</th>
    <th>memberName</th>
    <th>상세조회</th>
    <th>삭제</th>
  </tr>
  <tr th:each="member: ${memberList}"> <!-- foreach 처럼 하나씩 담아주는 역할 -->
    <td th:text="${member.id}"></td>
    <td th:text="${member.memberEmail}"></td>
    <td th:text="${member.memberPassword}"></td>
    <td th:text="${member.memberName}"></td>
    <td>
      <!-- query string /member?id=1 이런 방식이 있고
          rest api /member/1 이런 방식이 있는데 rest api방식을 더 선호한다. -->
      <a th:href="@{|/member/${member.id}|}">조회</a>
    </td>
    <td>
      <a th:href="@{|/member/delete/${member.id}|}">삭제</a>
    </td>
  </tr>
</table>
</body>
</html>